# Serverless Cloud-Based Student Management API
PORT=5000
NODE_ENV=development

# JWT Authentication
JWT_SECRET=student_management_super_secret_jwt_key_2026
JWT_EXPIRES_IN=7d

# AWS Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_BUCKET_NAME=student-management-docs-akash-2026

# PostgreSQL Database Configuration (RDS or Local)
DB_HOST=database-1.ap-south-1.rds.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=cloudakash
DB_NAME=student_management
DATABASE_URL=postgresql://postgres:cloudakash@database-1.ap-south-1.rds.amazonaws.com:5432/student_management
